    #width{
        width: 10%;
    }

#nav{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 102%;
}


#canvas{
    border: 5px dotted black;
}

#logo{
    position: relative;
    left: 1%;
}